textarea {
    width: 100%;
    height: 8em;
    resize: none;
}

label.form-check-label {
    cursor: pointer;
}

.linemap.area {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    margin-top: 22px;
}
.container h4,.container h5{
    font-weight: lighter;
}
.join_step_box.on {
    background: #FFA432!important;
    color: #282828;
    font-weight: bold;
    border: 0px!important;
}

.subtitle,.subtitle span {
    margin-left: 10px;
}

.homeImg{
    height: 20px;
    margin-bottom: 3px;
}
.homeImg:hover {
    filter: brightness(0.5);
}
.mem_content {
    max-width: 975px;
    margin: 0 auto;
    padding-bottom: 7%;
}
.join_content{
    margin: 58px 64px;
}
.join_step{
    display: flex;
    justify-content: space-evenly;
    font-size: 53px;
    color: #626262;
}

.join_step .join_step_box {
    padding: 23px 14px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    border-radius: 50px;
    font-size: 15px;
}
.join_step_box span{
    display: block;
}
.term{
    overflow-y: auto;
    height: 230px;
    margin: 7px 0 48px 0;
    padding: 20px;
    border: 1px solid #e6e6e6;
}
.align-center {
    text-align: center;
}

.nextButton {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background: rgb(146, 145, 144);
}

.backButton {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    background: rgb(146, 145, 144);
}
.btn_lg{
    font-size: 1.2rem;
    padding: 12px 53px;
    width: 187px;
}

/*회원가입 페이지*/
span.signup_title {
    width: 27%;
    margin-left: 14%;
}
.signup_title span,.signup_required {
    color: #e40202;
}
.mb-50.join_content {
    margin-left: 15%;
    margin-top: 90px;
}
input.form-control {
    width: 350px;
    border: solid 1px #dadada;
    border-radius: 0px;
}
.form-group {
    margin-bottom: 50px;
    border: 1px solid rgb(87 87 87 / 19%);
    padding: 8% 7%;
    border-radius: 5px;
    font-weight:400;
}
.form_split{
    margin: auto;
    width: 100%;
}

select.form-select.form-select-sm {
    width: 350px;
    border: solid 1px #dadada;
    border-radius: 0px;
    padding: 0.5rem 1.1rem;
}
.genderBtn {
    width: 106px;
    border: 0px;
    background-color: #ffddb3;
    border-radius: 0px;
    padding: 0.5rem 1.1rem;
    border-radius: 3px;
    font-weight: lighter;
    font-size: 1rem;
}
.genderBtn.select {
    width: 106px;
    border: 0px;
    background-color: #FFA432;
    border-radius: 0px;
    padding: 0.5rem 1.1rem;
    border-radius: 3px;
    font-weight: 400;
    font-size: 1rem;
}
.genderBtn.ml-1 {
    margin-left: 1rem!important;
}
.signupError{
    font-size: 11px;
    text-align: left;
    color: #ee0000;
}

/*회원가입 완료 페이지*/
.checkImg{
    width:80px;
}
.checkBtn{
    font-size: 1.2rem;
    padding: 19px 55px;
    width: 280px;
    background: #ffA432;
    font-weight: 500;
}