/*회원정보수정,취향키워드 수정 페이지 CSS */
.profileImg {
    position: absolute; 
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
    z-index: -2;
}

.button {
    font-size: 1rem;
    color: rgb(255, 255, 255);
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background: rgb(250, 150, 0);
}

.moveButton {
    font-size: 1rem;
    color: rgb(250, 150, 0);
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background: #ffebc0;
    
}

.input-form-padding{
    padding: 0.7rem 1.1rem!important;
}

.profileTitle h3:hover {
    filter: brightness(0.5);
}

.profileTitle h4 {
    font-weight: bold;
}
.pointer.mb-3.unselect{
    color: #C9CDD2;
}
.pointer.mb-3.select{
    color: #313131;
}
.profileImg{
    width: 21px;
    height: 21px;
    margin-left:0.6rem;
    margin-top: 0.3rem;
}