.h_column_center2 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.cat_box {
    height: 45px; 
    width: 100%; 
    border-bottom: 1px solid rgb(231, 234, 238);
}

.cat_box_size {
    width: 960px;
    height: 44px;
}

.category {
    padding-top: 8px;
    /* overflow-y: hidden; */
}

.category_size {
    position: relative;
    margin-top: 0px;
    height: 44px;
}

.h-44 {
    height: 44px;
}

.cat_start {
    margin-left: 0px;
    height: 44px;
}

.cat_other {
    margin-left: 16px;
    height: 44px;
}

.word_style {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -.1px;
    color: #949494;
}

.category ul {
    display: flex;
    width: 700px;
}

li {
    list-style: none;
}

.mb-0 {
    margin-bottom: 0px;
}

.img-size {
    width: 15px;
    height: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

.ml-40 {
    margin-left: 40px;
}

.ml-60 {
    margin-left: 63px;
}

.w-35 {
    width: 35px;
}