/*장소추천 페이지 수정*/
.waiting{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    color:#FFA432;
    font-weight: bold;
}
.waitingImg{
    width: 3rem;
    position: fixed;
}
.clicked{
  color: #FFA432;
}
.loader {
    color: #FFA432;
    font-size: 54px;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  

  .h_column_center2 {
    position: relative;
    display: flex;
    flex-direction: column;
}

.cat_box {
    height: 45px; 
    width: 100%; 
}

.cat_box_size {
    width: 960px;
    height: 44px;
}

.category {
    color:#AEB3B8;
}

.h-44 {
    height: 44px;
}


.word_style {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: -.1px;
}

.category ul {
    display: flex;
}

li {
    list-style: none;
}

.mb-0 {
    margin-bottom: 0px;
}

.img-size {
    width: 15px;
    height: 15px;
    margin-top: 5px;
}

.ml-40 {
    margin-left: 40px;
}

.ml-60 {
    margin-left: 63px;
}

.w-35 {
    width: 35px;
}
.bd-1{
  border-bottom: 1px solid rgb(231, 234, 238);
}
.height58{
  height: 58px;
}
.subcategory_text {
  position: relative;
  font-size: 15px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -.1px;
  color:#1B1D1F;
  padding: 4px 13px;
}
.subcategory_clicked{
  background-color: rgb(237 237 237);
}
@media ( max-width: 992px ) {
  .justify-content{
    flex-direction: column!important;
  }
  .profile_info{
    margin-top: 1rem;
  }
}

.justify-content{
  justify-content: space-between;
}
.profileUserImg{
  width: 15px;
  height: 15px;
  margin-top: -4px;
}
.sort_box{
  height: 40px;
  border-radius: 4px;
  border: solid 1px #cad0d8;
  font-size:15px;
  padding: 7px 9px;
  color: #1B1D1F;
}
.profile_box{
  color: #FFA432;
  border: solid 1px #FFA432;
  padding: 7px 13px;
}
.arrowSize{
  width: 15px;
  z-index: 1;
}
.class-0,.class-2,.class-4,.class-6,.class-8,.class-10,.class-12,.class-14,.class-16,.class-18,.class-20,.class-22{
  flex: 0 1 calc((100% - 36px) / 2);
  margin-left: 0px;
  display: flex;
  flex-direction: column;
}
.class-1,.class-3,.class-5,.class-7,.class-9,.class-11,.class-13,.class-15,.class-17,.class-19,.class-21,.class-23{
  flex: 0 1 calc((100% - 12px) / 2);
  margin-left: 12px;
  display: flex;
  flex-direction: column;
}
.class-2,.class-3,.class-4,.class-8,.class-12,.class-16,.class-20,.class-5,.class-9,.class-13,.class-17,.class-21,.class-6,.class-10,.class-14,.class-18,.class-22,.class-7,.class-11,.class-15,.class-19,.class-23{
  margin-top: 25px;
}
@media screen and (min-width: 992px){
  .class-0,.class-3,.class-6,.class-9,.class-12,.class-15,.class-18,.class-21 {
    flex: 0 1 calc((100% - 36px) / 3);
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }
  .class-1,.class-4,.class-7,.class-10,.class-13,.class-16,.class-19,.class-22 {
    flex: 0 1 calc((100% - 36px) / 3);
    margin-left: 18px;
    display: flex;
    flex-direction: column;
  }
  .class-2,.class-5,.class-8,.class-11,.class-14,.class-17,.class-20,.class-23 {
    flex: 0 1 calc((100% - 36px) / 3);
    margin-left: 18px;
    display: flex;
    flex-direction: column;
  }
  .class-3,.class-4,.class-8,.class-12,.class-16,.class-20,.class-5,.class-9,.class-13,.class-17,.class-21,.class-6,.class-10,.class-14,.class-18,.class-22,.class-7,.class-11,.class-15,.class-19,.class-23{
    margin-top: 30px;
  }
  .class-2{
    margin-top: 0px;
  }
}
@media screen and (min-width: 1400px){
  .class-0,.class-4,.class-8,.class-12,.class-16,.class-20 {
    flex: 0 1 calc((100% - 84px) / 4);
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }
  .class-1,.class-5,.class-9,.class-13,.class-17,.class-21 {
    flex: 0 1 calc((100% - 84px) / 4);
    margin-left: 28px;
    display: flex;
    flex-direction: column;
  }
  .class-2,.class-6,.class-10,.class-14,.class-18,.class-22 {
    flex: 0 1 calc((100% - 84px) / 4);
    margin-left: 28px;
    display: flex;
    flex-direction: column;
  }
  .class-3,.class-7,.class-11,.class-15,.class-19,.class-23 {
    flex: 0 1 calc((100% - 84px) / 4);
    margin-left: 28px;
    display: flex;
    flex-direction: column;
  }
  .class-4,.class-8,.class-12,.class-16,.class-20,.class-5,.class-9,.class-13,.class-17,.class-21,.class-6,.class-10,.class-14,.class-18,.class-22,.class-7,.class-11,.class-15,.class-19,.class-23{
    margin-top: 40px;
  }
  .class-3{
    margin-top:0px;
  }
}


.placeImg {
  position: relative; 
  width: 100%; 
  height: 275px;
  border-radius: 5px; 
  overflow: hidden; 
  cursor: pointer;
  display: inline-block;
}
.place-category {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #72787F;
}
.place-img{
  width:18px;
  height: 18px;
}
.place-name{
  margin-top: 14px;
  font-weight: 600;
  font-size: 15px;
  line-height: 14px;
  color: rgb(27, 29, 31);
}
.place-text{
  margin-left: 2px;
}
.place_address {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: slategray;
}