.title_style {
    width: 200px;
    height: 55px;
    margin-bottom: 7px;
}
.flex-row {
    display: flex;
}
.width-100{
    width: 100%!important;;
}
.width-30{
    width:30%!important;
}
.width-35{
    width:35%!important;
}
.width-40{
    width:40%!important;
}
.width-60{
    width:60%!important;
}
.width-70{
    width:70%;
}
.text-center{
    text-align: center;
}
p {
    font-family: auto;
}
.logo-size {
    width: 200px;
    height: 53px;
}
.fontWeight-400{
    font-weight: 400!important;
}
.fontSize-1 {
    font-size: 1rem;
}
.fontSize-12{
    font-size: 1.2rem!important;
}

.z-index {
    z-index: auto;
    margin-left: -5px;
}

.h_row_center {
    margin-top: 80px; 
    width: 1180px; 
    justify-content: space-around;
}

.items {
    position: relative; 
    width: 274px; 
    height: 140px; 
    border-radius: 8px; 
    /* overflow: hidden;  */
    cursor: pointer;
    display: inline-block;
    margin-left: 80px;
}

.main_top_text {
    margin-top: 20px; 
    margin-left: 20px; 
    font-weight: bold; 
    font-size: 20px; 
    line-height: 28px; 
    letter-spacing: -0.2px; 
    /* color: rgb(255, 255, 255); */
    color: black;
}

img {
    /* position: absolute;  */
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: -2;
}

.h_button {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 62px;
    height: 28px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
}

.h_button_detail {
    font-size: 12px;
    line-height: 14px;
    color: rgb(69, 75, 80);
    margin: 0px;
    text-align: center;
    margin-top: 8px;
    font-weight: bold;
}

.margin_box {
    margin-top: 20px;
}

.h_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 30px;
    width: 1100px;
    height: 250px;
}

.items {
    position: relative; 
    width: 240px; 
    height: 140px; 
    border-radius: 8px; 
    /* overflow: hidden;  */
    cursor: pointer;
    display: inline-block;
    margin-left: 60px;
}

.hotimg {
    position: relative; 
    width: 240px; 
    height: 140px; 
    border-radius: 8px; 
    overflow: hidden; 
    cursor: pointer;
    display: inline-block;
    margin-left: 30px;
}

.namebox {
    position: relative; 
    padding: 10px 0px 22px 30px;
}

h6 {
    margin-top: 14px; 
    margin-bottom: 15px;
    font-weight: 550; 
    font-size: 15px; 
    line-height: 14px; 
    color: rgb(27, 29, 31);
}

.goldstar {
    width: 16px; 
    height: 16px;
    margin-left: 17px;
}

.area_cat {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: slategray;
}

.star_rank {
    margin: 0px;
    width: 20px;
    height: 16px;
    /* margin-left: 17px; */
    margin-right: 0px;
    color: slategray;
}

.h_center {
    margin-top: 30px;
}

.btn_view {
    width: 280px;
    height: 49px;
    /* opacity: 0.8; */
}

.snsimg {
    position: relative; 
    width: 200px; 
    height: 180px; 
    border-radius: 8px; 
    overflow: hidden; 
    cursor: pointer;
    display: inline-block;
    margin-left: 30px;
}

Container {
    min-width: 720px;
    position: absolute;
    top: calc(50vh - 100px); left: calc(50vw - 200px);
    background-color: white;
    display: flex; justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 400px;
    height: 200px;
  }

.h_column_center {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 20px;
}

.signup_info {
width: 100%;
border-radius: 10px;
border: 1px solid slategray;
background-color: rgb(255, 255, 255);
padding: 40px 50px;
}

.signup_box {
width: 580px;
}

/* 여기부터 LikingCheck css코드 */
.w {
    width: 600px;
}

.flex {
    display: flex;
}

.flex_col {
    flex-direction: column;
}

.mb {
    margin-bottom: 32px;
}

.mb-23 {
    margin-bottom: 23px;
}

.items-center {
    align-items: center;
}

.mr-35 {
    margin-right: 33px;
}

.align-top {
    vertical-align: top;
}

.rounded {
    border-radius: 12px;
}

.overflow-hidden {
    overflow: hidden;
}

.w-60 {
    width: 65px;
}

.h-60 {
    height: 65px;
}

.relative {
    position: relative;
}

.justify-center {
    justify-content: center;
}

.w-auto {
    width: auto;
}

.mt-4 {
    margin-top: 1rem;
}
.mt-30 {
    margin-top: 30px;
}
.mt-50 {
    margin-top: 50px;
}

.m-0a {
    margin: 0 auto;
}

.m-tb {
    margin-top: 40px;
    margin-bottom: 40px;
}
.m-tb80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
hr.m-tb {
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
}

.d-table {
    display: table;
}
.ml-p5{
    margin-left:5%;
}

.ml-55 {
    margin-left: 55px;
}
.ml-3 {
    margin-left: 2rem;
}
.ml-13{
    margin-left:13px
}
.ml-10 {
    margin-left: 3px;
}
.ml-3p{
    margin-left:3px;
}
.ml-1r{
    margin-left: 1rem;
}
.ml-05r{
    margin-left: 0.5rem;
}

/*MAIN화면*/
.backdrop {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }

.main-navbar{
    background-image: none;
    background-color: #ffffffe3!important;
}

@media ( max-width: 992px ) {
    div#basic-navbar-nav {
        padding-left: 44px;
    }
    a.nav-link.fw-bold {
        padding: 9px 0;
    }
}
.container_style {
    min-width: 720px;
    padding-top: 75px;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

/*HOT PLACES*/
.hot-items {
    position: relative;
    width: 100%;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
}

.hot-places {
    margin: 55px 0px;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.swiper-box {
    position: relative;
    box-shadow: 3px 3px 12px 0 #e9e9e9;
    border-radius: 12px;
    cursor: pointer;
    margin: 13px 4px;
    height: 260px;
    overflow: hidden;
}
.hot-title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.3px;
    margin-bottom: 14px;
}
.hot-detail{
    position: relative;
    padding: 10px 14px 22px;
    font-size: 11px;
}
.hot-category{
    justify-content: space-between;
}
.h-row-center{
    display: flex;
    align-items: center;
}
.hot-name{
    margin-top: 14px;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    color: rgb(27, 29, 31);
}
.hot-rating{
    /* border: solid 1px #cfcfcf;
    border-radius: 3px;
    width: 47px;
    height: 20px;
    text-align: center; */
}
.hot-rating-img{
    width: 16px;
    height: 16px;
    position: relative;
    margin: 0 3px 2px 0;
}
.margin-top{
    margin-top: 10px;
}
.margin-right {
    margin-right: 6px;
}
.h-row-center.margin-top.fw-light {
    color: rgb(114, 120, 127);
}
.location-img {
    margin-right: 4px;
    margin-bottom: 4px;
    width: 15px;
    height: 15px;
}
.pointer{
    cursor: pointer;
}
.h-row-center.margin-top.fw-light {
    font-size: 10px;
}
img.hot-place-sparkle {
    width: 31px;
    margin-bottom: 4px;
}

/* SNS 페이지 */
.twitter-logo {
    width: 50px; 
    height: 50px;
    margin-left: 30px;
    margin-right: 20px;
}
.h_row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 40px;
    width: 1400px;
    height: 500px;
}
.swiper-box-sns {
    position: relative;
    box-shadow: 3px 3px 12px 0 #e9e9e9;
    border-radius: 12px;
    cursor: pointer;
    /* margin: 13px 4px; */
    height: 420px;
    width: 300px;
    /* overflow: hidden; */
}
.profile-bar {
    border-bottom: solid 1px #cfcfcf;
    /* border-radius: 12px; */
    padding: 10px
}
.profile-img {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.body-area {
    border-bottom: solid 1px #cfcfcf;
    flex-direction: column;
    padding: 10px
}
.sns-img {
    border-bottom: solid 1px #cfcfcf;
    /* border-radius: 12px; */
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
}
.retweet-area{
    justify-content: space-between;
    padding: 5px 10px;
}
.retweet-area-txt{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 13px;
    color: rgb(27, 29, 31);
}
.grey-color {
    color: rgb(114, 120, 127);
}



/* Search 페이지 css */
.mr-60 {
    margin-right: 60px;
}
.mr-13{
    margin-left: 13px;
}
.mr-8p{
    margin-right: 8%;
}

.search_box {
    width: 800px;
    height: 100vh;
}

.arrow-size {
    width: 25px;
    height: 25px;
}

.flex_row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24px;
}

.mr-15 {
    margin-right: 15px;
}

.keyword-box {
    background-color: papayawhip;
    border-radius: 8px;
    height: 33px;
    width: 75px;
    text-align: center;
}

.keyword-font {
    font-size: 14px;
    font-weight: 530;
    color: dimgray;
    line-height: 7px;
}

.mb-130 {
    margin-bottom: 130px;
}

.mb-50 {
    margin-bottom: 50px;
}

.sort-img {
    position: relative;
    margin-top: 5px;
}

.sort-box {
    width: 92px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #cad0d8;
}

.h_row_center2 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-sort {
    justify-content: flex-end;
}

.sort-text {
    margin-left: 12px;
    font-size: 15px;
    font-weight: 500;
    line-height: 10px;
    text-align: center;
    color: #454b50;
}

.mt-5 {
    margin-top: 5px;
}
.mt-1r{
    margin-top: 1rem;
}

.sort-box:hover {
    background-color: lightgray;
}

.img-hover:hover {
    background-color: papayawhip;
    border-radius: 50%;
}

.z-idx {
    z-index: 9999;
}

.ml-120 {
    margin-left: 120px;
}

.dd-style {
    width: 200px;
    border-color: #cad0d8;
    height: 40px;
    margin-top: 12px;
    border-radius: 8px;
    margin-left: 16px;
}

.sb-bw {
    justify-content: space-between;
}

.unactiveBtn {
    background: #d1d1d1;
}
.activeBtn {
    background: #FFA432;
    font-weight: bold;
}

ul{
    padding-inline-start: 0px!important;
}

.pd-top0{
    padding-top: 0px!important;
}
.mr-1r{
    margin-right: 1rem;
}
.mr-2r{
    margin-right: 2rem;
}
.mr-05r{
    margin-right:0.5rem;
}
