.title_style {
    width: 200px;
    height: 55px;
    margin-bottom: 7px;
}

.logo-size {
    width: 200px;
    height: 53px;
}

.z-index {
    z-index: auto;
    margin-left: -5px;
}

.h_row_center {
    margin-top: 80px; 
    width: 1180px; 
    justify-content: space-around;
}

.items {
    position: relative; 
    width: 274px; 
    height: 140px; 
    border-radius: 8px; 
    overflow: hidden; 
    cursor: pointer;
    display: inline-block;
    margin-left: 80px;
}

.main_top_text {
    margin-top: 20px; 
    margin-left: 20px; 
    font-weight: bold; 
    font-size: 20px; 
    line-height: 28px; 
    letter-spacing: -0.2px; 
    color: rgb(255, 255, 255);
}

img {
    /* position: absolute;  */
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: -2;
}

.h_button {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 62px;
    height: 28px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
}

.h_button_detail {
    font-size: 12px;
    line-height: 14px;
    color: rgb(69, 75, 80);
    margin: 0px;
    text-align: center;
    margin-top: 8px;
    font-weight: bold;
}

h4 {
    margin-left: 30px;
    margin-top: 80px;
    padding-top: 20px;
}

.margin_box {
    margin-top: 20px;
}

.h_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 30px;
    width: 1100px;
    height: 250px;
}

.items {
    position: relative; 
    width: 240px; 
    height: 140px; 
    border-radius: 8px; 
    overflow: hidden; 
    cursor: pointer;
    display: inline-block;
    margin-left: 60px;
}

.hotimg {
    position: relative; 
    width: 240px; 
    height: 140px; 
    border-radius: 8px; 
    overflow: hidden; 
    cursor: pointer;
    display: inline-block;
    margin-left: 30px;
}

.namebox {
    position: relative; 
    padding: 10px 0px 22px 30px;
}

h6 {
    margin-top: 14px; 
    margin-bottom: 15px;
    font-weight: 550; 
    font-size: 15px; 
    line-height: 14px; 
    color: rgb(27, 29, 31);
}

.goldstar {
    width: 16px; 
    height: 16px;
}

.area_cat {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    color: slategray;
}

.star_rank {
    margin: 0px;
    width: 20px;
    height: 16px;
    margin-left: 17px;
    margin-right: 0px;
    color: slategray;
}

.h_center {
    margin-top: 30px;
}

.btn_view {
    width: 280px;
    height: 49px;
    /* opacity: 0.8; */
}

.snsimg {
    position: relative; 
    width: 200px; 
    height: 180px; 
    border-radius: 8px; 
    overflow: hidden; 
    cursor: pointer;
    display: inline-block;
    margin-left: 30px;
}

Container {
    position: absolute;
    top: calc(50vh - 100px); left: calc(50vw - 200px);
    background-color: white;
    display: flex; justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 400px;
    height: 200px;
  }

.h_column_center {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 20px;
}

.signup_info {
width: 100%;
border-radius: 10px;
border: 1px solid slategray;
background-color: rgb(255, 255, 255);
padding: 40px 50px;
}

.signup_box {
width: 580px;
}

/* 여기부터 LikingCheck css코드 */
.w {
    width: 600px;
}

.flex {
    display: flex;
}

.flex_col {
    flex-direction: column;
}

.mb {
    margin-bottom: 32px;
}

.mb-23 {
    margin-bottom: 23px;
}

.items-center {
    align-items: center;
}

.mr-35 {
    margin-right: 33px;
}

.align-top {
    vertical-align: top;
}

.rounded {
    border-radius: 12px;
}

.overflow-hidden {
    overflow: hidden;
}

.w-60 {
    width: 65px;
}

.h-60 {
    height: 65px;
}

.relative {
    position: relative;
}

.justify-center {
    justify-content: center;
}

.w-auto {
    width: auto;
}

.mt-4 {
    margin-top: 1rem;
}

.m-0a {
    margin: 0 auto;
}

.m-tb {
    margin-top: 40px;
    margin-bottom: 40px;
}

.d-table {
    display: table;
}

.ml-55 {
    margin-left: 55px;
}

/*MAIN화면*/
.backdrop {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }

.main-navbar{
    background-image: none;
    background-color: #ffffffe3!important;
}

@media ( max-width: 992px ) {
    div#basic-navbar-nav {
        padding-left: 44px;
    }
    a.nav-link.fw-bold {
        padding: 9px 0;
    }
}

.container_style {
    padding: 75px 0 0 0;
}

/*HOT PLACES*/
.hot-items {
    position: relative;
    width: 100%;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
}

.hot-places {
    margin: 55px 0px;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.swiper-box {
    position: relative;
    box-shadow: 3px 3px 12px 0 #e9e9e9;
    border-radius: 12px;
    cursor: pointer;
    margin: 13px 4px;
    height: 260px;
    overflow: hidden;
}
.hot-title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -0.3px;
    margin-bottom: 14px;
}
.hot-detail{
    position: relative;
    padding: 10px 14px 22px;
    font-size: 11px;
}
.hot-category{
    justify-content: space-between;
}
.h-row-center{
    display: flex;
    align-items: center;
}
.hot-name{
    margin-top: 14px;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    color: rgb(27, 29, 31);
}
.hot-rating{
    /* border: solid 1px #cfcfcf;
    border-radius: 3px;
    width: 47px;
    height: 20px;
    text-align: center; */
}
.hot-rating-img{
    width: 16px;
    height: 16px;
    position: relative;
    margin: 0 3px 2px 0;
}
.margin-top{
    margin-top: 10px;
}
.margin-right {
    margin-right: 6px;
}
.h-row-center.margin-top.fw-light {
    color: rgb(114, 120, 127);
}
.location-img {
    margin-right: 4px;
    margin-bottom: 4px;
    width: 15px;
    height: 15px;
}
.pointer{
    cursor: pointer;
}
.h-row-center.margin-top.fw-light {
    font-size: 10px;
}